@import "../core";
@import "./component/slider";
@import "./component/card-pembelian";
@import "./component/card-core";
@import "./component/card-deskripsi";
@import "./component/card-product";
@import "./component/card-resep";
@import "./component/panel-default-header";
@import "./component/panel-default-body";
@import "./component/static-component";

body {
	background: $body-bg-card;
}

.section-details-coffee, .section-resep-coffee, .section-related-coffee {
	margin: 25px 0px;
}

.section-details-coffee{

	.details-pembelian {
		.panel-card-body{
			.coffee-brew{
				margin: 10px 0px;
				.dropdown-brew {
				width: 100%;
					a  {
						padding: 10px;
					}
				}
			}
		}
	}
}

.section-resep-coffee{
	.resep-coffee-list{

	}
	
}

.section-related-coffee{
	.panel-default-header {
		display: flex;
		justify-content: space-between;
		.panel-header-title{
			padding: 0px 15px;	
		}

		.panel-header-link{
			padding: 0px 15px;
			a {
				color: $main-color;
			}
		}
	}
}

