@import "../core";
@import "./component/header";
@import "./component/navbar";
@import "./component/panel-default-header";
@import "./component/panel-default-body";
@import "./component/card-product";
@import "./component/card-product-tab";
@import "./component/footer";

.section-header {

}

.section-menu {
	
}

.section-slider {
	img {
		width: 100%;
	}
}

.section-new-product {
	
	.panel-default-header {
		display: flex;
		justify-content: space-between;
		.panel-header-title{
			padding: 0px 15px;
			font-size: 16px;
		}

		.panel-header-link{
			padding: 0px 15px;
			a {
				color: $main-color;
			}
		}
	}


	.panel-default-body{
		margin-bottom: 50px;
		
	}
}

.section-promo {
	.panel-product-header {

	}

	.panel-product-body{
		.product-col {
			padding: 0px;
			background: $putih;
			.inner-product-col{
				color: $hitam;
				a {
					.image {
						margin: 0px;
					}
				}

				.caption{
					text-align: center;
					margin: 5px 0px;

					.voucher-title {
						
					}

					.price-disc{
						display: block;
						width: 50%;
						background: $brand-success;
						margin: 0 auto;
						padding: 5px 10px;
						border-radius: 8px;
						color: $putih;
						font-size: 16px;
						margin-bottom: 10px;
					}

					.price-new{
						display: block;
						font-size:18px;
						margin-bottom: 10px;
					}
					.price-old{
						display: block;
						font-size:15px;
						color:$grey-line;
						text-decoration: line-through;
					}
				}
			}
		}
	}
}
