.section-footer {
	background: $hitam;
	color: $putih;
	margin-top: 70px;
	.social-media-footer{
		text-align: center;
		.social-icon {
			margin: 20px 0px;
			ul{
				li{
					list-style-type: none;
					display: inline-block;
					margin: 0px 30px;
					font-size: 35px;
				}
			}
		}
	}

	.menu-footer{
		background: $hitam;
		.menu-footer-list {
			margin: 20px 0px;
			border-top: 3px solid $grey-line;
			border-bottom: 3px solid $grey-line;
			text-align: center;
			ul {
				li {
					list-style-type: none;
					display: inline-block;
					margin: 10px 20px;
					font-size: 20px;
				}
			}
		}
	}

	.newsletter-footer {
		background: $main-color;
		padding: 10px 0px;
		.newsletter-input {
			text-align: center;
			padding: 20px 0px;
			.newsletter-heading{
				font-size: 30px;
			}
			.newsletter-text {
				font-size: 14px
			}
			input {
				width: 60%;
				margin: 0 auto;
				margin-top: 10px;
			}
		}

		.newsletter-buttom {
			text-align: center;
			padding-bottom: 20px;
			button{
				background: $hitam;
				width: 60%;
			}
		}
	}
	
	.copyright-footer {
		background: $hitam;
		color: $putih;
		padding: 25px 0px;
		.copyright-brand {
			text-align: left;
			font-size: 20px;
		}
		.copyright-text {
			text-align: right;
			font-size: 15px;
		}
	}

}