.section-menu{
	background-color : $hitam;
	nav { 
		margin-bottom: 0px !important;
		li{
			border-right: 1px solid gray;
		}
		.submenu {
			width: 700px;
			a{
				color: $putih;
			}
			.row {
				margin-left: 0px;
				margin-right: 0px;
				.media-fa{
					padding: 12px;
				}
				.fa {
					font-size: 50px;
				}
				.submenu-label {
					display: table-cell;
					vertical-align: middle;
					padding-left: 10px;
				}
			}
		}
	}
}

.categories-thumb {
	height: 50px;
	width: 50px;
}

.media-fa:hover {
	transition: 0.3s;
 	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	}