.details-slide {
	background: $putih;
	border: 0px;
	box-shadow: $shadow-card;
	border-radius: 4px;
	margin-bottom: 50px;
	.details-slide-header{
		img {
			margin: 0 auto;
			max-width: 400px;
		}

	}
	.details-slide-body{
	  	display: inline-block;

		ul.thumbnails-carousel {
			padding: 5px 0 0 0;
			margin: 0;
			list-style-type: none;
			text-align: center;
		}
		ul.thumbnails-carousel .center {
			display: inline-block;
		}
		ul.thumbnails-carousel li {
			/*margin-right: 5px;*/
			float: left;
			cursor: pointer;
		}
		
		ul.thumbnails-carousel li {
			/*margin-right: 5px;*/
			float: left;
			cursor: pointer;	
		}

		ul.thumbnails-carousel li img{
			width: 100%;
		}

		.controls-background-reset {
			background: none !important;
		}
		.active-thumbnail {
			opacity: 0.4;
		}
		.indicators-fix {
			bottom: 70px;
		}

		.carousel-control.left, .carousel-control.right  {
			background: #fff;
		}
	}
}